[Unit]
Description=Spoof hostname and MAC addresses on boot
Wants=network-pre.target
Before=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/bin/spoofme
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
